
ul{
    list-style-type: initial;
}

.h3-equipe{
    font-family: "Poppins";
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--subtitle-color);
    margin-bottom: 10px;
}

.h4-equipe{
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    margin:10px 0px
}


.flex-pessoas{
    display: flex;
}