
/* carlos @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  background-color: var(--background-page-color);
  font-family: var(--font-paragraph)
}


/*Secoes da pagina principal*/

/*blabla*/

section{
  display: grid;
  grid-template-columns: 2.5fr 7fr 2.5fr;

}

.section-container{
  grid-column: 2/3;
  
  p{font-size: 1.1rem;}

  .section-title-subtitle {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    h3 {
      font-family: var(--font-subtitle);
      color: var(--subtitle-color);
      width: 100%;
      letter-spacing: 0.3em;
      padding-top: 12px;
      position: relative;
      text-align: center;
      font-size: 1vw;
    }
    
    h3::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 1px;
      background: var(--gradiente-azul-verde);
      opacity: 20%;
      flex-grow: 1;
    }

    >h2{
      color: var(--title-color);
      font-family: var(--font-title);
      width: fit-content;
      font-size: 3rem;
      font-weight: 500;
      white-space: nowrap;
    }
    .not-right{
      padding-right: 1.5rem;
    }
    .right {
      padding-left: 1.5rem;
    }

  }

  
  .imgs-section-s2{
    display: flex;
    justify-content: center;

    .img-container{
      position: relative;
      height: fit-content;
      cursor: pointer;
      
      >h3{
        font-family: "Poppins", sans-serif !important;
        background-color: var(--background-titulos-imagens);
        text-align: center;
        z-index: 1;
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--texto-titulos-imagens);
        width: 100%;

      }
      
      >img{
        
        height: 500px;
        width: 200px;
        transition: ease-in-out 0.3s;
        object-fit: cover;
        object-position: center;
      }
      
      & > img:hover {
        width: 300px;
        height: 500px;
        object-fit: cover;
      }
      
      
    }
  }


  .imgs-section-s3 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  
    &:has(.img-container:hover) .img-container:not(:hover) {
      filter: blur(3px);
      transition: filter 0.3s linear;
    }
  
    .img-container {
      position: relative;
      height: fit-content;
      cursor: pointer;
  
      > h3 {
        font-family: "Poppins", sans-serif !important;
        background-color: var(--background-titulos-imagens);
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
        width: 100%;
        transition: ease-in-out 0.3s;
      }
  
      > img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        justify-content: center;
        transition: ease-in-out 0.3s;
        border-radius: 10px;
      }
  
      &:hover {
        > img {
          transform: scale(1.1);
        }
  
        > h3 {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
  

  .imgs-section-s4{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;

  .img-container{
    position: relative;
    height: fit-content;
    cursor: pointer;
    
    >h3{
      font-family: "Poppins", sans-serif !important;
      background-color: var(--background-titulos-imagens);
      text-align: center;
      z-index: 1;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      padding: 2rem 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--texto-titulos-imagens);
      width: 100%;
      transition: ease-in-out 0.3s; 
    }
    
    >img{
      
      height: 250px;
      width: 250px;
      object-fit: cover;
      justify-content: center;
      transition: ease-in-out 0.3s;
    }

    &:hover {
      >img {
        transform: scale(1.1);
      }

      >h3 {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  

  
  }
}


@media (max-width: 1370px) {
  footer{font-size: 1rem;}
  
}

@media (max-width:1545px) {
  section{

    .section-container{
      >.section-title-subtitle{
        justify-content: center;
        >h3{
          font-size: 0.8rem;
        }
        >h2{
          font-size: 2.3rem;
        }
      }   
    }
  }
}


@media (max-width:1250px) {
  section{

    .section-container{

      >.section-title-subtitle{
        justify-content: center;
        >h3{
          font-size: 0.8rem;
        }
        >h2{
          font-size: 1.9rem;
          padding-bottom: 0.5rem;
        }
      }  

      .imgs-section-s2{
        
        .img-container{
          
          >h3{
            font-size: 1rem;
          }

          >img{
            height: 400px;
          }

          >img:hover{
            width: 300px;
            height: 400px;
            object-fit: cover;
          }
        }
      }

      #contribute{
        font-size: 1.2rem;
      }
      .comments-container{
        .comment{
          
          .NAME-DATE{
            font-size: 1.1rem;
          }
          .comment-content{

            >p{
              font-size: 1rem;
            }
          }
        }
      }
      
  }
}
}


@media (max-width:1160px) {
  section{

    .section-container{

      >.section-title-subtitle{
        justify-content: center;
        >h3{
          font-size: 0.8rem;
        }
        >h2{
          font-size: 1.8rem;
          padding-bottom: 0.8rem;
          transform: translateY(25%);
        }
      }  

      .imgs-section-s2{
        
        .img-container{
          
          >h3{
            font-size: 1rem;
          }

          >img{
            height: 400px;
          }

          >img:hover{
            width: 300px;
            height: 400px;
            object-fit: cover;
          }
        }
      }

      #contribute{
        font-size: 1.2rem;
      }
      .comments-container{
        .comment{
          
          .NAME-DATE{
            font-size: 1rem;
          }
        }
      }
      
  }
}
}


@media (max-width:950px) {
  
  nav{
    font-size: 1rem;

    > ul {
      display: flex;
      gap: 2rem;
      justify-content: center;
  
      >li {
  
        >a::before {
          content: "";
          position: absolute;
          width: 95%;
          height: 1.2px;
          background-color: #35766a;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
          top: 2vw;
          left: 0.1vw;
        }
  
        >a:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
  
      }
  
    }
  }

  section{

    .section-container{

      .section-title-subtitle{
        
        >h2{
          font-size: 2.5rem;
        }
        >h3{
          display: none;
        }
      }

      .imgs-section-s2{
        
        .img-container{
          
          >h3{
            font-size: 0.9rem;
          }

          >img{
            height: 300px;
          }

          >img:hover{
            width: 300px;
            height: 300px;
            object-fit: cover;
          }
        }
      }

      #contribute{
        font-size: 1rem;
        margin: 0px;
        margin-bottom: 28px;
      }
      .comments-container{
        .comment{
          i{
            font-size: 2.5;
            border: 3px solid #35766a;;
          }
          .NAME-DATE{
            font-size: 1.1rem;
          }
          .comment-content{

            >p{
              font-size: 1rem;
            }
          }
        }
      }
      
      .paragraph{
        >p{font-size: 1rem;}
      }
  }
}

  footer{
    .grid{
      .flex{
        text-align: center;
        .mid{
          margin: 0px 2rem 0px 2rem;
        }
        >p{
          font-size: .9rem;
        }

        .socials{
          width: 25%;
        }
      }
    }
  }
}


@media (max-width:882px){
  nav{
    font-size: 1.1rem;
  }
}

@media (max-width:827px){
  nav{
    font-size: 1rem;
    >ul{
      gap: 1.5rem;
    }
  }

  section{
    .section-container{
      .imgs-section-s2{
        .img-container{
          >h3{
            font-size: 0.8rem;
          }
          >img{
            height: 250px;
          }

          >img:hover{
            width: 300px;
            height: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 788px){
  footer{
    .grid{
      .flex{
        text-align: center;
        .mid{
          margin: 0px 2rem 0px 2rem;
        }
        >p{
          font-size: .9rem;
        }

        .socials{
          width: 30%;
        }
      }
    }
  }
}

@media (max-width: 742px){
  footer{
    .grid{
      .flex{
        text-align: center;

        .mid{
          margin: 0px 2rem 0px 2rem;
        }
        >p{
          font-size: .9rem;
        }

        .socials{
          width: 35%;
        }
      }
    }
  }
}

section{
  .section-container{
    .imgs-section-s3{
      .img-container{
        >h3{
          font-size: 1.2rem;
        }
        
      }
    }
  }
}

@media (max-width: 729px){
  nav{
    >ul{
      gap: 1rem;
    }
  }
}

@media (max-width: 706px){
  footer{
    .grid{
      .flex{
        .socials{
          width: 35%;
          font-size: 0.9rem;
        }
      }
    }
  }

  section{
    .section-container{
      .imgs-section-s2{
        .img-container{
          >h3{
            font-size: 0.7rem;
          }
          >img{
            height: 250px;
          }

          >img:hover{
            width: 300px;
            height: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }
}



@media (max-width:689px){
  nav{
    font-size: 0.9rem;
  }

  section{
    .section-container{
      .imgs-section-s2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        .img-container{
          >h3{
            font-size: 0.9rem;
          }
        }
    }
    /Ajustar o efeito de hover/
    .img-container > img:hover {
        width: 300px;
        height: 500px;
        object-fit: cover;
    }

    .imgs-section-s3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
    }/*ajustar centralizacao*/
  }
}
}

@media (max-width: 677px){
  footer{
    .grid{
      .flex{
        .socials{
          width: 40%;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 654px){
  footer{
    .grid{
      .flex{
        text-align: center;

        .mid{
          margin: 0px 1.8rem 0px 1.8rem;
        }
        >p{
          font-size: .9rem;
        }

        .socials{
          width: 40%;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 638px){
  footer{
    .grid{
      .flex{
        .mid{
          margin: 0px 1.8rem 0px 1.8rem;
        }
        .socials{
          width: 45%;
          font-size: 0.9rem;
        }
      }
    }

  }
}


@media (max-width: 633px) {
  .hamburger {
      display:flex;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
  }

  .nav-links.open {
      display: flex;
  }

}







