
/*ACESSO RAPIDO*/

#acesso{ /*TEXTO DO ACESSO RAPIDO - TOPO DA PAGINA*/
  font-family: var(--font-acesso-rapido);
  font-size: 1.7rem;
  color: var(--title-color);
  margin-left: 5px;

}

.box{ /*BOX DO ACESSO RAPIDO*/
  border: 2.5px solid var(--subtitle-color);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
}


.box-links{ /*textos dentro do acesso rapido // organizacao estrutural*/
  column-count: 4;
  text-align: start;
  padding: 0.4rem 0;

  li{ /*os links*/
    margin-left: 25%;
    padding: 2px 0 ;
    font-size: 1.1rem;
    font-family: var(--font-acesso-rapido);
    cursor: pointer;
    list-style-type: disc;
    text-decoration: underline;
    color: var(--subtitle-color);
  
  }
}

/*=================================================================*/


/*divisorias de ancoras*/

.divisoria{ /*div mais externa*/
  margin-top: 25px;
}

.divisoria-header{ /*titulo de cada divisoria*/
  background: var(--gradiente-azul-verde);
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  padding: 20px 25px;
  font-family: var(--font-title-divisorias-timeline);
  z-index: 2;
  font-size: 1.45em;
  border-radius: 10px;
  color: white;
}

.divisoria-aberta{ /*organizar a parte de dentro quando aberta*/
  padding: 10px 25px;
}

#ampliar{
  text-align: center;
  font-size: 1.2rem;
  font-family: Roboto;
  margin-top: 25px;
}

#letra{
margin-top: 25px;}

.letra-side-by-side{
  display: flex;
  justify-content: space-around;
}
.title-divisoria-aberta{ /*titulos dentro da divisoria*/
  font-size: 2rem;
  margin-bottom: 25px;
  color: var(--title-divisoria-aberta-color);
  font-weight: 600;
}

.outside{
  padding: 10px 25px;
}


.divisoria-titulo-fechado{ /*texto da divisoria fechada*/
  text-align: center;
  font: var(--font-title);
  font-weight: bolder;
  font-size: 1.5rem;
}

.center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.divisoria-fechada-imgs-flex{ /*organizar as imagens quando fechadas*/
  padding: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    
    >img{
      height: 300px;
      width: 250px;
      object-fit: cover;
      object-position: top;
    }
}

#btn-divisoria{ /*ver mais / ocultar*/
  font-size: 1.05rem;
  font-family: var(--font-subtitle);
  text-decoration: underline;
  font-weight: 400;
}

.divisoria-content{
  position: relative;
  padding-top: 35px;
  top: -25px;
}
.divisoria-content::after{
  content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 0.4;
    background: linear-gradient(to right, #0066AF, #0B878F); 
    border-radius: 16px; 
    padding: 2px; 
    -webkit-mask: 
      linear-gradient(#f8f8f8 0 0) content-box, 
      linear-gradient(#f8f8f8 0 0);
    mask: 
      linear-gradient(#f8f8f8 0 0) content-box, 
      linear-gradient(#f8f8f8 0 0);
    -webkit-mask-composite: xor; 
    mask-composite: exclude; 
}








