
/*ACESSO RAPIDO*/

#acesso{ /*TEXTO DO ACESSO RAPIDO - TOPO DA PAGINA*/
  font-family: var(--font-acesso-rapido);
  font-size: 1.7rem;
  color: var(--title-color);
  margin-left: 5px;

}

.box{ /*BOX DO ACESSO RAPIDO*/
  border: 2.5px solid var(--subtitle-color);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 5px;
}


.box-links{ /*textos dentro do acesso rapido // organizacao estrutural*/

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;

  li{ /*os links*/
    padding: 4px 10px ;
    font-size: 1.1rem;
    font-family: var(--font-acesso-rapido);
    cursor: pointer;
    list-style-type: disc;
    text-decoration: underline;
    color: var(--subtitle-color);
  
  }
}



#titulo-ancora{
  font-family: var(--font-ancora-tile-years);
  color: var(--title-color);
  font-weight: 200;
}

.subtitle-subdiv{
  font-family: var(--font-title-subdiv-years);
  color: var(--timeline-title-subdiv-years-color);
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 15px;
}

#foto-letra-86{
  position: relative;
  bottom: 40px;
  height: 450px;
}

.letra-side-by-side{
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  
}

.flex-midia{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.sistema-colunas{
  gap: 15px;
  column-count: 2;
}
.img-coluna{
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 450px;
  margin-top: 5px;
}

#nasce-suvaco{
  max-height: 1000px;
}
