section{
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
  
  }
.section-container{
    grid-column: 2/3;
    
    p{
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
      line-height: 1.5rem;
    }
  
    .section-title-subtitle {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      
      h3 {
        font-family: var(--font-subtitle);
        color: var(--subtitle-color);
        width: 100%;
        letter-spacing: 0.3em;
        padding-top: 12px;
        position: relative;
        text-align: center;
        font-size: 1vw;
      }
      
      h3::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 1px;
        background: var(--gradiente-azul-verde);
        opacity: 20%;
        flex-grow: 1;
      }
  
      >h2{
        color: var(--title-color);
        font-family: var(--font-title);
        width: fit-content;
        font-size: 3rem;
        font-weight: 300;
        font-style: italic;
        white-space: nowrap;
      }
      .not-right{
        padding-right: 1.5rem;
      }
      .right {
        padding-left: 1.5rem;
      }
  
    }
  
}  

#warning{
  color: red;
  font-weight: 600;
}


#categorias-button{
    font-size: 1.5rem;
    color: var(--title-color);
    padding: 20px 15px 10px 0px;
    border-radius: 13px;
    width: 100%;
    text-align: left;
    
}

.dropdown-flex{
  display: flex;
  gap: 20px;
}

.dropdown {
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: var(--background-page-color);
  border-radius: 13px;
  margin-top: 5px;
  position: relative;
  font-family: var(--font-title);
}

.dropdown2{
  width: 50%;
}
.dropdown1{
  width: 50%;
}

.categoria-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
  
  
.selecionada{
  background: var(--categoria-selecionada);
}


.portfolio{
  margin-top: 25px;
  column-count: 3;
  column-gap: 1rem;
  > img {
    width: 100%;
      margin-bottom: 0.8rem;
      display: block; 
      margin-left: auto; 
      margin-right: auto;
      cursor: pointer;
  }
    
}


.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.fullscreen {
  max-width: 1000px;
  max-height: 800px;
}

.close-btn {
  position: absolute;
  top: 36px;
  right: 436px;
  font-size: 24px;
  color: var(--title-color);
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  font-size: 35px;
  color: var(--title-color);
  background: white;
  border-radius: 50%;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.nav-btn.left { 
left: 20%; 
}

.filter-title{
  font-size: 1.5rem;
  color: var(--subtitle-color);
}

.nav-btn.right { 
  right: 20%; 
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumb {
  width: 90px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumb.active {
  border-color: white;
}



@media (max-width:1024px) {
  .fullscreen{
    max-width: 1014px;
    max-height: 95vh;

  }

  .close-btn{
    right: 100px;
    top: 20px;
  }

  
}
@media (max-width:768px) {
  .fullscreen{
    max-width: 750px;
    max-height: 95vh;

  }

  .close-btn{
    right: 100px;
    top: 20px;
  }

  
}
@media (max-width:425px) {
  .fullscreen{
    max-width: 340px;
    max-height: 95vh;

  }

  .close-btn{
    right: 25px;
    top: 20px;
  }

  
}