.flex-carrossel{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .img-artista{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #artista-funcao{
    font-family: var(--font-timeline-artista);
    color: var(--timeline-artista-color);
    font-size: 1.8rem;
  
  }
  
  #artista-name{
    font-family: var(--font-timeline-artista);
    color: var(--timeline-artista-name-color);
    font-size: 1.5rem;
  }
  
  .artista{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .arrow{
    font-size: 2rem;
  }

  .artista-0{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;

    >img{
      width: 28% ;
    }
  }

@media (max-width:360px) {
    #artista-funcao{
      font-size: 1.5rem;
    }
    #artista-name{
      font-size: 1.3rem;
    }
    .artista-0{
      >img{
        width: 50%;
      }

    }

  }